<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendita</title>
    <link rel="stylesheet" href="../Statics/styles.css">
	<link rel="icon" type="image/x-icon" href="../Statics/media/img/icon.jpg">
</head>
<body>
    
    <div class="title">
        <div class="SillyCats"> <u>Silly cats </u> </div>
        <img class="IdaVen" src="https://i.pinimg.com/564x/e9/1b/4a/e91b4a8218356f967f0a57dbdc583124.jpg">
        <div id="flecha">Hover in the cat</div>
    </div>

    <div id="anuncio" align="center" ><a href="https://www.youtube.com/watch?v=U2Fjfqm-7g8" target="_blank" class="boton" align="center">store</a></div>
    <div class="cuerpo">
        <div class="tarjeta1">
            <p class="NomT"> : ̗̀➛ Boink</p>
            <br>
            <p class="NomP"> $25</p>
            <img class="Agranda" src="https://i.pinimg.com/564x/ee/bf/02/eebf02c1378af97fd868ea750aa95be5.jpg">
        </div>
        <div class="tarjeta2">
            <p class="NomT"> : ̗̀➛ I lof you</p>
                <br>
            <p class="NomP"> $75</p>
            <img class="Cambios" src="https://i.pinimg.com/564x/5e/cf/52/5ecf52cbe8349dbd523a26a52969a620.jpg">
        </div>

        <div class="tarjeta2">
            <p class="NomT"> : ̗̀➛ Aim Angry </p>
                <br>
            <p class="NomP"> $60</p>
            <img class="Tambalea" src="https://i.pinimg.com/564x/bc/5f/8d/bc5f8da5e57a555b79e2f1bbe4b46f9b.jpg">
        </div>
        <div class="tarjeta1">
            <p class="NomT"> : ̗̀➛ Together 4ever</p>
            <br>
            <p class="NomP"> $125</p>
            <img id="GatoCaida" src="https://i.pinimg.com/236x/6b/51/5a/6b515ae70228e7c58373b6ae81d03bde.jpg">
            <img id="GatoCaida2" src="https://i.pinimg.com/564x/1c/6e/bc/1c6ebc1f28aeead7a01e0de05fc8c9fe.jpg">
        </div>


        <div class="tarjeta1">
            <p class="NomT"> : ̗̀➛ Piu Piu</p>
            <br>
            <p class="NomP"> $100</p>
            <img class="Dispara" src="../statics/media/img/bala.PNG">
            <img id="GatoDispara" src="https://i.pinimg.com/564x/e5/ef/c2/e5efc2dec3ec6d0076c1c8f1d8da4ef3.jpg">
        </div>
        <div class="tarjeta2">
            <p class="NomT"> : ̗̀➛ Triste </p>
                <br>
            <p class="NomP"> $50</p>
            <img id="Bye" src="https://i.pinimg.com/564x/47/8f/72/478f722a2c553b658b7cab7844a13731.jpg">
        </div>
        
    </div>

</body>
</html>