<!DOCTYPE html> 
<html lang=”en”> 

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<title> Isaac Urrutia <3 </title>
	<link rel="stylesheet" href="../Statics/fuentesEstylo.css">
	<meta name= "Urrutia Isaac">
	<link rel="icon" type="image/x-icon" href="../Statics/media/img/icon.jpg">
</head>

<body>
	<div class="title">
		<h1 align="left"> Isaac Arturo </h1> 
		<a href="https://instagram.com/urri_art?igshid=MzNlNGNkZWQ4Mg==" target="_blank" class="boton" align="center">@urri_art</a>
	</div>

	<div class="DivisorPres">
		<h3 align="center" class="DivisorPres"> ＊*•̩̩͙✩•̩̩͙*˚ Mi presentación ˚*•̩̩͙✩•̩̩͙*˚＊</h3>
	</div>
	
	<div class="yo">
		<a href="https://www.youtube.com/watch?v=Gnm3hIcjiCQ" target="_blank">
		<img id="yo" src="../Statics/media/img/si.jpeg" alt="Debería haber una imagen mía" heigth=220 width=270>
		</a>
	</div>

	<div class="present">
	<p> 
		Pues no sé jajaja,<i>soy una persona que hace un poco de todo, gusta mucho aprender y conocer cosas nuevas </i>, 
		así como conocer gente nueva me emociona bastante, por eso siento que mis gustos son bastante variados,
		si tuviera que decirlo por áreas, la única que me interesa en menor medida es área 3, no porque sea malo,
		pero sinceramene nunca me ha llamado lo suficiente.
		
		<br> <br>

		Me gustan mucho las ciencias, en especial a la biología (le tengo una gran pasión) me gustaría también estudiarla (despues de estudiar A1), asimismo las ciencias de la salud me gustan mucho.
		Por otro lado, las artes me encantan, dibujo, escribo, leo, pinto, toco un poco de guitarra y estoy en proceso de aprender violín,
		me gusta mucho el cine y escuchar música, escucho un poco de todo y creo que se notará en el apartado de mis gustos jajaja.

		
		<br> <br> 

		<strong>Soy una persona que le pone su máximo esfuerzo a todo, me parece a veces gracioso que mis amigos me digan
		que no saben como puedo hacer tanto jajajaj, siempre les digo que es organización,</strong>pero la vd hay días en que me falla y también no entiendo como lo hago jajajja, siento que soy un buen amigo,
		de que si ocupas algo ahí estaré (ya sea si es solo pasar el tiempo o desahogo), es algo dificil aburrirse conmigo y siempre intento 
		apoyar a la gente, tengo mucha iniciativa, siempre tengo chismesito y a veces parezco podcast jajaja. 

		<br><br>

		MMM, no sé que más decir, me gustan mucho los gatos aunque no tenga uno. Hay veces en las que investigo mucho de un tema y lo domino,
		casi diario estoy al borde de que me atropellen jajajaja y no sé, <u>si alguien lee esto y quiere conocerme hablemeeeeeeee.</u>

		<br><br><br><br>
		Me indentifico con los gatos jajajaa y por eso <strong>presiona mi foto</strong>
		</p>
	</div>

	<div class="DivisorPres">
		<h3 align="center" class="DivisorPres"> ＊*•̩̩͙✩•̩̩͙*˚ Mis gustos ˚*•̩̩͙✩•̩̩͙*˚＊</h3>
	</div>

 	<div class="tablas">
		<table width="100%" align="center" class="tablas" border="2">
			<thead align="center">  </thead>
			<tr align="center">
      				<th> <a href="https://www.instagram.com/p/Crdn6msO_cr/?utm_source=ig_web_copy_link&igshid=MmJiY2I4NDBkZg==" target="_blank" class="boton" align="center">Peliculas</a> </th>
      				<th> <a href="https://www.instagram.com/p/CLPu4knAymr/?utm_source=ig_web_copy_link&igshid=MmJiY2I4NDBkZg==" target="_blank" class="boton" align="center">Comidas</a></th>
      				<th> <a href="https://open.spotify.com/album/5XX1xVOP61GDQCGaZMLjhO?si=BpZ9MTyDTtig30M2Qz26aA" target="_blank" class="boton" align="center">Canciones</a></th>
    			</tr>
			<tr >
       				<td> 
						<ol type="1">
							<li> El castillo ambulante ➼<a href="https://www.youtube.com/watch?v=TioZt2aBZVE" target="_blank" class="boton" align="center">🎬</a> </li>
							<li> Yo, adolescente ➼ <a href="https://www.youtube.com/watch?v=-IoeS5470Dg" target="_blank" class="boton" align="center">🎬</a></li>
							<li> El hogar de Miss Peregrine ➼ <a href="https://www.youtube.com/watch?v=VhJgNv8b_gs" target="_blank" class="boton" align="center">🎬</a></li>
							<li> Carrie (1976) ➼ <a href="https://www.youtube.com/watch?v=j9Mg-GRS46Y" target="_blank" class="boton" align="center">🎬</a></li>
							<li> Pearl <3  ➼ <a href="https://www.youtube.com/watch?v=L5PW5r3pEOg" target="_blank" class="boton" align="center">🎬</a></li>
						</ol>
					</td>
       				<td> 
						<ul type="circle">
							<li> Lasagna </li>
							<li> Souffle de papa </li>
							<li> Albondigas </li>
							<li> Pizzaaaaa </li>
							<li> Cafeeeeee (no es comida, pero no puedo vivir sin café) </li>
						</ul>
					</td>
       				<td> 
						Mejor mis artistas favs: 
						<ul type="square">
							<li> <a href="https://www.youtube.com/watch?v=-qpVwfgWDrA" class="enlaceM" target="_blank"> Dua Lipa</a> </li> 
							<li> <a href="https://www.youtube.com/watch?v=jFy03i_LRO8" class="enlaceM" target="_blank"> The Marías</a> </li>
							<li> <a href="https://www.youtube.com/watch?v=h67ibOdh5ng" class="enlaceM" target="_blank"> Marina</a></li>
							<li> <a href="https://www.youtube.com/watch?v=QN1odfjtMoo" class="enlaceM" target="_blank">Maneskin</a> </li>
							<li> <a href="https://www.youtube.com/watch?v=bpNw7jYkbVc" class="enlaceM" target="_blank">Joan Jett & the Blackhearts</a> </li> 
						</ul>
						<br>
					</td>
    			</tr>
		</table>
	</div>

	<div class="DivisorPres">
		<h3 align="center" class="DivisorPres"> ＊*•̩̩͙✩•̩̩͙*˚ Personajes ˚*•̩̩͙✩•̩̩͙*˚＊</h3>
	</div>

	<div class="tablas"> 
		<table width="100%" class="tablas" border="2">
			<thead>   </thead>
			<tr align="center">
      				<th> Nombre </th>
      				<th> Foto </th>
      				<th> Explicación </th>
    		</tr>
			<tr align="center">
       				<td> <a href="https://www.youtube.com/watch?v=UZpz9y2FrsI" target="_blank" class="boton" align="center">Nick</a></td>
       				<td> <a href="https://www.popbuzz.com/tv-film/features/kit-connor/heartstopper-nick-nelson/" target="_blank"><img src="../Statics/media/img/nick.jpg" align="right" alt="Debería haber una imagen" heigth=150 width=200></a></td>
       				<td> [Heartstopper] 
						Adoro como es y como trata a Charlie, la adaptación de Netflix es buena, pero siento que no logra superar a las novelas gráficas ni los libros.</td>
    		</tr>
			<tr align="center">
				<td> <a href="https://www.youtube.com/watch?v=UZpz9y2FrsI" target="_blank" class="boton" align="center">Charlie</a></td>
				<td> <a href="https://laverdadnoticias.com/espectaculos/Heartstopper-Quien-es-Joe-Locke-que-interpreta-a-Charlie-Spring-en-la-serie-20220507-0168.html" target="_blank"><img src="../Statics/media/img/charlie.jpg" align="right" alt="Debería haber una imagen" heigth=150 width=200></a> </td>
				<td> [Heartstopper] 
					Me identtifico un poco con él, además de que heartstopper es de mis series / novelas gráficas favoritas.</td>
	 		</tr>
			 <tr align="center">
				<td> <a href="https://www.youtube.com/watch?v=frfU-aPxSW0" target="_blank" class="boton" align="center">Sabrina</a></td>
				<td> <a href="https://www.culturaocio.com/tv/noticia-caotico-devastador-final-sabrina-netflix-explicado-20210104135820.html" target="_blank"><img src="../Statics/media/img/sabrina.jpg" align="right" alt="Debería haber una imagen" heigth=150 width=200></a></td>
				<td> [Las escalofriantea aventuras de Sabrina] 
					Me gusta mucho su concepto y su estilo, quiero decir que en este caso me gusta el personaje tanto en la serie viejita como en la de netflix</td>
	 		</tr>
			 <tr align="center">
				<td> <a href="https://youtube.com/shorts/XZ5Uv4JKTU4?feature=share" target="_blank" class="boton" align="center">Evan</a></td>
				<td> <a href="https://atypical.fandom.com/wiki/Evan_Chapin" target="_blank"><img src="../Statics/media/img/Evan.png" align="right" alt="Debería haber una imagen" heigth=150 width=200></a></td>
				<td> [Atypical] 
					Es alguien muy dulce y comprensivo que a mi parecer refleja un poco cómo la gente en su contexto podría actuar</td>
	 		</tr>
			 <tr align="center">
				<td> <a href="https://www.youtube.com/watch?v=ee6DUqNarek" target="_blank" class="boton" align="center">Zabo</a></td>
				<td> <a href="https://revistaminuscula.com/2020/11/12/yo-adolescente-el-relato-que-habla-sobre-lo-que-todos-callan-llego-a-netflix/" target="_blank"><img src="../Statics/media/img/Zabo.jpg" align="right" alt="Debería haber una imagen" heigth=150 width=200></a></td>
				<td> [Yo adolescente]
					La pelicula me dejó llorando y más el libro, me gusta este personaje en particular porque a pesar de ser simple 
					siento que está muy bien planteado, es mejor en el libro eso sí, pero como tal la pelicula es muy buena</td>

	 		</tr>
		</table>
	</div>

	<div class="DivisorPres">
		<h3 align="center" class="DivisorPres"> ＊*•̩̩͙✩•̩̩͙*˚ Favs del momento (música) ˚*•̩̩͙✩•̩̩͙*˚＊</h3>
	</div>

	<div>
		<table width="100%" align="center" class="tablas" border="2">
			<thead align="center">  </thead>
			<tr align="center">
      				<th> <a href="https://www.instagram.com/p/CsmxVqct6ck/?igshid=MzRlODBiNWFlZA==" target="_blank" class="boton" align="center">Artistas</a> </th>
      				<th> <a href="https://www.instagram.com/p/Cr8nC-VKYEV/?igshid=MzRlODBiNWFlZA==" target="_blank" class="boton" align="center">Albumes</a></th>
      				<th> <a href="https://www.instagram.com/p/Cqu8bIASOrk/?igshid=MzRlODBiNWFlZA==" target="_blank" class="boton" align="center">Canciones</a></th>
    			</tr>
			<tr >
       				<td> 
						<ol type="1">
							<li> The Marías ➼<a href="https://open.spotify.com/artist/2sSGPbdZJkaSE2AbcGOACx?si=Cj_7xhYGTom5Y6d2uXUFYw" target="_blank" class="boton" align="center">🎵</a> </li>
							<li> Abhi The Nomad ➼ <a href="https://open.spotify.com/artist/1gUi2utSbJLNPddYENJAp4?si=7ZjjiB2tRsKDbLNs2glW-ghttps://open.spotify.com/artist/1gUi2utSbJLNPddYENJAp4?si=7ZjjiB2tRsKDbLNs2glW-g" target="_blank" class="boton" align="center">🎵</a></li>
							<li> Milo J ➼ <a href="https://open.spotify.com/artist/19HM5j0ULGSmEoRcrSe5x3?si=LItx5wBST0uOaKZ3P1vnPw" target="_blank" class="boton" align="center">🎵</a></li>
							<li> Tamino ➼ <a href="https://open.spotify.com/artist/3IWdvItNhmdo282Wwp0CwH?si=XWZA6MhrQGCATgToBz9HwQ" target="_blank" class="boton" align="center">🎵</a></li>
							<li> Kirby  ➼ <a href="https://open.spotify.com/artist/5lcDGoJUr5WY5bCFAfYbCU?si=9Kjm4pBGSjm5ODNNsHWbhg" target="_blank" class="boton" align="center">🎵</a></li>
						</ol>
					</td>
       				<td> 
						<ul type="circle">
							<li> Cinema ➼<a href="https://open.spotify.com/album/5TkaDC4mYSLBvdG6UrIB0v?si=yzF95As8Sd6Y_u7ztS19uA" target="_blank" class="boton" align="center">🎸</a> </li>
							<li> Imagina ➼ <a href="https://open.spotify.com/album/4mWMKw1bTjskg9KXg7rFwc?si=FzYMGdNeQGmWDI2lRv3ngQ" target="_blank" class="boton" align="center">🎸</a></li>
							<li> Red moon in Venus ➼ <a href="https://open.spotify.com/album/5OZ44LaqZbpP3m9B3oT8br?si=To7MjkTVRMmsca44m84NHw" target="_blank" class="boton" align="center">🎸</a></li>
							<li> Abhi vs The universe ➼ <a href="https://open.spotify.com/album/7npnMZIzcTaC9dFh2iqm0w?si=1OwQLd4dQJKNHYyxTQerJQ" target="_blank" class="boton" align="center">🎸</a></li>
							<li> San Lucas ➼ <a href="https://open.spotify.com/album/5I20nnpF2Jj6GjUFsk9EG1?si=Rz2jJHAkRcOOxLdHPHxdLQ" target="_blank" class="boton" align="center">🎸</a></li>
						</ul>
					</td>
       				<td>  
						<ul type="square">
							<li> Alfonsina y el mar  ➼<a href="https://open.spotify.com/track/4vBzPWbImzSKJ8TLupUuHP?si=c8d4c8f66e9944bf" target="_blank" class="boton" align="center">🎧</a> </li>
							<li> A&W ➼ <a href="https://open.spotify.com/track/1wTopxO5eQBpxrBXPSbsUn?si=4dcecaaed64d4e95" target="_blank" class="boton" align="center">🎧</a></li>
							<li> Señorita revolución ➼ <a href="https://open.spotify.com/track/7EDmXSg0xZZT3NkcBjijCn?si=8cc0a6440bc64b1b" target="_blank" class="boton" align="center">🎧</a></li>
							<li> Can´t Get Enough ➼ <a href="https://open.spotify.com/track/455RNF1FhYAjgRI0nPI9DA?si=96ec099917a44bd8" target="_blank" class="boton" align="center">🎧</a></li>
							<li> Ruthless ➼ <a href="https://open.spotify.com/track/1mbuSss0OVqfS00y7yCNCZ?si=d4d3608001654937" target="_blank" class="boton" align="center">🎧</a></li>
						</ul>
						<br>
					</td>
    			</tr>
		</table>
	</div>
	<div class="DivisorPres">
		<h3 align="center" class="DivisorPres"> ＊*•̩̩͙✩•̩̩͙*˚ Temas del CS (como me han gustado) ˚*•̩̩͙✩•̩̩͙*˚＊</h3>
	</div>

	<div class="tierlist">
	   		<div class="temas"> 1- CSS </div>
			<div class="temas"> 2- Bases</div>
			<div class="temas"> 3- HTML</div>
			<div class="temas"> 4- PHP </div>
			<div class="temas"> 5- JS</div>
	</div>

	<div class="DivisorPres">
		<h3 align="center" class="DivisorPres"> ＊*•̩̩͙✩•̩̩͙*˚ Dibujitos ˚*•̩̩͙✩•̩̩͙*˚＊</h3>
	</div>
	<div align="center"><a href="https://www.instagram.com/p/CriwdI0qXZP/?igshid=MzRlODBiNWFlZA==" target="_blank" class="boton" id="mensaje">Pon el mouse encima del perrito</a></div>
	<div class="Burbuja">

		<div class="face">

			<div class="ojo ojo-1">
				<div class="pupila-1"></div>
			</div>

			<div class="ojo ojo-2">
				<div class="pupila-2"></div>
			</div>

			<div class="boca"></div>
		</div>

		<div class="oreja"></div>
		<div class="oreja oreja-2"></div>

		<div class="caja"></div>
	</div>


	<div class="panda">

		<div class="facep">

			<div class="ojop ojop-1">
				<div class="pupilap-1"></div>
			</div>

			<div class="ojop ojop-2">
				<div class="pupilap-2"></div>
			</div>

			<div class="bocap"></div>
            <div class="bocap2"></div>
            <div class="bocap3"></div>
		</div>

		<div class="orejap"></div>
		<div class="orejap orejap-2"></div>

		<div class="caja"></div>
	</div>

</body>

</html>